@{
    ViewData["Title"] = "Brak dostępu";
}

<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h4>Nie masz dostępu do tego zasobu.</h4>
        </div>
    </div>
</div>
