@{
    ViewData["Title"] = "Potwierdź powiadomienie e-mail";
}


<div class="text-center">
    <h3>Wysłaliśmy potwierdzenie e-mailem na zarejestrowany adres e-mail.</h3>
    <h4>Aby aktywować konto, postępuj zgodnie z instrukcjami przesłanymi e-mailem.</h4>
</div>