@{
    ViewData["Title"] = "Potwierdzenie zapomnianego hasła";
}



<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Sprawdź pocztę e-mail, aby zresetować hasło.</h3>
        </div>
    </div>
</div>