@model HelpDeskApp.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Zapomniałeś hasła?";
}


<p class="login-box-msg">Zapomniałeś hasła? Tutaj możesz łatwo odzyskać nowe hasło.</p>
<form asp-action="ForgotPassword" method="post">
    <div>
        <label asp-for="Email"></label>
        <div class="input-group mb-3">
            <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-block btn-flat">Zresetuj hasło</button>
</form>
<p class="mb-0">
    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-center">Zarejestruj nowe członkostwo</a>
</p>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
