@{
    ViewData["Title"] = "Zablokowane";
}

<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>To konto zostało zablokowane, spróbuj ponownie później.</h3>
        </div>
    </div>
</div>

