@{
    ViewData["Title"] = "Wylogowano";
}


<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Wylogowanie zakończyło się pomyślnie.</h3>
        </div>
    </div>
</div>